---
import Default from '../components/defaultcomponent.vue';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<Default />

	<!--

	<ul>
		<li><a href="/creations/creation1/">Article 1</a></li>
	</ul>

	-->

</Layout>
