---

import '../styles/global.css';
import { Icon } from 'astro-icon/components';

---

<script>


</script>



<div id="arrows">
    <Icon class="arrow arrow-mid" data-target="#actu" size="32px"  name="mingcute:arrow-down-fill" />
    <Icon class="arrow arrow-mid" data-target="#hero" size="32px" name="mingcute:arrow-up-fill" />
</div>